multicampus_practice/data/Telco_Customer-Churn.csv
multicampus_practice/data/Online Retail.xlsx
multicampus_practice/data/olist/olist_order_items_dataset.csv
multicampus_practice/data/creditcard.csv
multicampus_practice/data/olist/olist_orders_dataset.csv
multicampus_practice/data/olist/olist_customers_dataset.csv
multicampus_practice/data/Alternative.csv
